.groupCountainer {
  margin: 20px;
}
.title {
  text-align: left;
  padding-left: 10px;
}
.paperStyles {
  padding: 20px;
  border-radius: 10px;
}
.gridPaddingSearch {
  padding: 10px;
  display: flex;
}
.gridPadding {
  padding: 10px;
}
.container {
  text-align: center;
  display: flex;
}
.searchbar {
  width: 100%;
  background-color: white;
}
.searchButton {
  cursor: pointer;
}
.movieDetailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0;
  border-bottom: 1px solid #a9a9a9;
}
.movieImage {
  margin: 35px;
  border: 1px solid #a9a9a9;
  border-radius: 2%;
  width: 90px;
}
.movieDetails {
  padding-left: 50px;
  text-align: left;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieTitle {
  text-align: left;
}

.nominationTitleContainer {
  text-align: left;
  margin-right: 30px;
}

.nominationsContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

@media (min-width: 600px) and (max-width: 1100px) {
  .movieGradesContainer {
    padding-left: 30%;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .paperStyles {
    width: 73vw;
  }
}

@media (min-width: 200px) and (max-width: 599px) {
  .movieGradesContainer {
    padding-left: 30%;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }
  .paperStyles {
    width: 68vw;
  }

  .movieImageContainer {
    display: none;
  }
  .titleContainer {
    text-align: left;
    margin-left: 10px;
  }
  .movieDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    border-bottom: 1px solid #a9a9a9;
  }
  .movieTitle {
    font-size: 17px;
    font-weight: 400;
  }
}
